<div layout="row" class="full-height full-width" ng-controller="AppController as appCtrl" ng-cloak>
  <ng-include layout="row" class="full-width full-height"
    ng-if="appCtrl.isHeaderMenuLayout()"
    src="global.clientPath + 'shared/partials/layouts/headermenu/layout.html'" >
  </ng-include>

  <ng-include layout="row" class="full-width full-height"
    ng-if="appCtrl.isSideMenuLayout()"
    src="global.clientPath + 'shared/partials/layouts/sidemenu/layout.html'" >
  </ng-include>
</div>


