<md-menu md-offset="0 55">
  <md-button class="md-button md-buttom-menu" ng-click="menuCtrl.openMenuOrRedirectToState($mdMenu, $event, item)">
    <md-icon md-font-set="material-icons" class="pull-left menu-icon" ng-style="menuCtrl.navStyle.textColor">
      {{::item.icon}}
    </md-icon>
    <span translate="{{::item.title}}" translate-cloak ng-style="menuCtrl.navStyle.textColor"></span>
  </md-button>
  <md-menu-content width="4">
    <md-menu-item ng-repeat="subItem in item.subItems">
      <md-button ng-click="menuCtrl.openMenuOrRedirectToState($mdMenu, $event, subItem)">
        <span md-menu-align-target>
          <md-icon md-font-set="material-icons" class="pull-left menu-icon">
            {{::subItem.icon}}
          </md-icon>
          <span translate="{{::subItem.title}}"></span>
        </span>
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
