<content-body>
    <div flex="100" style="text-align:center">
        <h1>{{::'views.layout.home.welcomed' | translate}}</h1>
        <p>{{::'views.layout.home.basicPage' | translate}}</p>
    </div>
</content-body>
