<div layout="row" layout-align="center center">
    <md-content flex style="text-transform:uppercase;" ng-style="::menuCtrl.navStyle.content">
      <md-menu-bar class="menu-bar" ng-style="::menuCtrl.navStyle.menuBar">
        <div class="md-toolbar-tools menu-toolbar">
          <ul class="menu-bar-list">
            <li ng-repeat="item in menuCtrl.itemsMenu" class="menu-bar-list-item">
              <ng-include src="global.clientPath + '/shared/partials/menu.html'" ></ng-include>
              <span flex></span>
            </li>
            <li class="menu-bar-list-item pull-right" style="text-align:right" ng-show="appCtrl.isMultiLocale()">
              <md-menu md-offset="0 55">
                <md-button class="md-button md-buttom-menu" ng-click="$mdMenu.open($event)">
                  <md-icon  md-font-set="material-icons" class="md-light md-icon-button">
                    language
                  </md-icon>
                  <span class="md-light">{{::appCtrl.locale | capitalize}}</span>
                </md-button>
                <md-menu-content width="4">
                  <md-menu-item ng-repeat="locale in global.locales" value="{{::locale.id}}">
                    <md-button ng-click="appCtrl.changeLocale(locale)">
                      <span md-menu-align-target>
                        <span>{{::locale.id | capitalize}}</span>
                      </span>
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </li>
          </ul>
        </div>
      </md-menu-bar>
  </md-content>
</div>
