<box box-title="{{::'views.titles.taskList' | translate}}">
  <box-toolbar-buttons>
  </box-toolbar-buttons>
  <md-content layout-padding md-whiteframe="1" class="bottom-4">
    <form class="condensed" ng-submit="tasksCtrl.search(vm.paginator.currentPage)">
      <div layout="row" hide-xs>
        <c2-date-time-picker hide-xs ng-model="tasksCtrl.queryFilters.dateStart" with-time="true" flex="25" label="::'attributes.initialDate' | translate"></c2-date-time-picker>
        <c2-date-time-picker hide-xs ng-model="tasksCtrl.queryFilters.dateEnd" with-time="true" flex="25" label="::'attributes.finalDate' | translate"></c2-date-time-picker>
      </div>
      <div layout="row">
        <md-input-container flex=25 flex-xs=75>
          <label>{{::'attributes.task.description' | translate}}</label>
          <input type="text" ng-model="tasksCtrl.queryFilters.description">
        </md-input-container>
        <md-input-container flex=25 hide-xs>
          <label>{{::'attributes.task.priority' | translate}}</label>
          <input type="number" step="1" min="1" max="10" ng-model="tasksCtrl.queryFilters.priority">
        </md-input-container>
        <md-input-container flex=25 hide-xs>
          <md-switch aria-label="{{::'views.fields.task.done' | translate}}" class="top-5" ng-model="tasksCtrl.queryFilters.done">
            {{::'views.fields.task.done' | translate}}
          </md-switch>
        </md-input-container>
        <md-input-container flex>
        </md-input-container>
        <md-button class="md-raised md-primary md-mini" type="submit">
          {{::'views.actions.filter' | translate}}
        </md-button>
      </div>
    </form>
  </md-content>

  <md-table-container>
    <table md-table class="condensed">
      <thead md-head>
        <tr md-row>
          <th md-column>
            <span>{{'attributes.task.description' | translate}}</span>
          </th>
          <th md-column>{{'attributes.task.scheduled_to' | translate}}</th>
          <th md-column md-numeric hide-xs>
            <span>{{'attributes.task.priority' | translate}}</span>
          </th>
          <th md-column class="md-text-center" hide-xs>{{'views.fields.task.done' | translate}}</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="task in tasksCtrl.resources" ng-if="tasksCtrl.resources.length > 0">
          <td md-cell>{{ ::task.description}}</td>
          <td md-cell>{{ ::task.scheduled_to | c2Datetime:tasksCtrl.dtFormat}}</td>
          <td md-cell hide-xs>{{ ::task.priority}}</td>
          <td md-cell class="md-text-center" hide-xs>
            <md-icon md-font-set="material-icons" ng-show="task.done === true"  class="md-dark">done</md-icon>
            <md-icon md-font-set="material-icons" ng-show="task.done === false"  class="md-dark">hourglass_empty</md-icon>
          </td>
        </tr>
        <tr md-row ng-if="tasksCtrl.resources.length == 0">
          <td md-cell colspan="5">
            <div layout="row" layout-align="center center">{{::'messages.notFound' | translate}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <box-footer-buttons>
    <div layout="row">
      <div flex layout="row" layout-align="center center">
        <c2-pagination paginator="tasksCtrl.paginator"></c2-pagination>
      </div>
      <div>
        <md-button class="md-warn" ng-click="tasksCtrl.close()">{{::'views.actions.close' | translate}}</md-button>
      </div>
    </div>
  </box-footer-buttons>

</box>
