<md-dialog flex=75 flex-gt-md=60 aria-label="{{::'task.ariaLabel' | translate}}" class="md-dialog-transparent">
  <content-body>
    <div flex ng-include src="tasksCtrl.global.clientPath + '/samples/tasks/task-dialog-list.html'" ng-hide="tasksCtrl.viewForm"></div>
  </content-body>
</md-dialog>
