<!-- project title -->
<md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar" aria-hidden="false">
  <div class="md-toolbar-tools" layout-wrap>
    <md-button ng-if="!menuCtrl.isOpen()" ng-click="menuCtrl.open()" class="md-icon-button md-primary" hide-gt-lg aria-label="Menu">
      <md-icon md-font-set="material-icons">menu</md-icon>
    </md-button>
    <div layout="row" flex>
      <div layout="row" layout-align="start center">
        <div id="page-breadcrumb" class="md-breadcrumb">{{$state.current.name | tBreadcrumb}}</div>
      </div>
      <span flex></span>
      <div layout="row" class="md-toolbar-item">
        <md-icon ng-show="appCtrl.isMultiLocale()" md-font-set="material-icons" class="md-dark md-icon-button">
          language
        </md-icon>
        <md-select ng-show="appCtrl.isMultiLocale()" style="margin:4px 0 0 5px" ng-change="appCtrl.changeLocale()" ng-model="appCtrl.locale">
          <md-option ng-repeat="locale in global.locales" value="{{::locale.id}}">
            {{::locale.id | capitalize}}
          </md-option>
        </md-select>
      </div>
    </div>
  </div>
</md-toolbar>
