<div layout="row" class="full-height full-width" ng-controller="MenuController as menuCtrl" ng-cloak>
    <ng-include src="global.clientPath + '/shared/partials/layouts/sidemenu/menu-container.html'"></ng-include>

    <div layout="column" flex class="full-height">

    <ng-include src="global.clientPath + '/shared/partials/layouts/sidemenu/header.html'"></ng-include>

    <md-content layout="column" flex md-scroll-y>
        <!-- In the ui-view directive below the content from a state willl be placed automatically -->
        <div flex="noshrink" ui-view></div>
    </md-content>
    <!-- Footer -->
    <ng-include src="global.clientPath + '/shared/partials/footer.html'"></ng-include>
    </div>
</div>
