<md-sidenav
  class="site-sidenav md-sidenav-left full-height"
  md-component-id="left"
  md-is-locked-open="$mdMedia('gt-sm')"
  md-is-open="false"
  hide-print
  md-whiteframe="4"
  ng-style="::menuCtrl.navStyle.content">

  <header class="nav-header" ng-style="::menuCtrl.navStyle.top">
    <a class="logo" href="/">
      <div class="principal" style="background-image: url('client/images/logo.png')">
      </div>
      <span ng-style="menuCtrl.navStyle.textColor">Welcome guest</span>
    </a>
  </header>

  <md-content layout-padding flex style="text-transform:uppercase;" ng-style="::menuCtrl.navStyle.content">
    <ul class="menu-sidenav">
      <li ng-repeat="item in menuCtrl.itemsMenu" ng-style="::menuCtrl.navStyle.lineBottom">
          <ng-include src="global.clientPath + '/shared/partials/menu.html'" ></ng-include>
      </li>
    </ul>
  </md-content>
</md-sidenav>
